fastapi==0.100.1
uvicorn[standard]==0.23.2
sqlalchemy
pydantic
langchain
langchain-community
icecream
langchain_openai
langchain-postgres
langgraph 
langchainhub 
langchain_experimental
requests
Faker
sqlalchemy
logging
redis
python-multipart
langserve[all]
